
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}
.homeContainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.homeTitle{
  width: 1024px;
  font-size: 20px;
}
.navbar{
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.box-1{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
}

.nav-btn{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}
.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.header-content {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.header-content.listMode {
  margin: 20px 0px 0px 0px;
}

.header-items{
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.header-list-items{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-list-items.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.header-des {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.header-search {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.header-icon {
  color: lightgray;
}

.header-search-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-search-field {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.delivery-time {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.homeContainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.homeTitle{
  width: 1024px;
  font-size: 20px;
}
.display{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.display-Item{
  position: relative;
  color: rgb(248, 246, 246);
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex:1
}

.display-Img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.display-Titles{
  position: absolute;
  bottom: 0px;
  align-items: center;
  color: #323737d4;
  left: 1rem;
  font-size: 0.7rem;
  background-color: #e9e1e1;
  display: flex;
  height: 2rem;
  opacity: 0.8;
}
.shopList{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.shopListItem{
  flex:1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.shopListImg{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.shopListTitles>h1{
  font-size: 18px;
  color: #444;
}

.shopListTitles>h2{
  font-size: 14px;
  font-weight: 300;
}
.fShop {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.fShopItem{
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.fShopImg{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.fShopName{
  color: #333;
  font-weight: bold;
}

.fShopCity{
  font-weight: 300;
}

.fShopPrice{
  font-weight: 500;
}

.fShopRating>button{
  background-color: #003580;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.fShopRating>span{
  font-size: 14px;
}
.mail{
  width: 100%;
  margin-top: 50px;
  background-color: #003580;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 0;
}

.mailInputContainer>input{
  width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}

.mailInputContainer>button{
  height: 50px;
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.footer{
  width: 100%;
  width: 1024px;
  font-size: 12px;
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fList{
  list-style: none;
  padding: 0;
}

.fListItem{
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}

.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle{
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem>label{
  font-size: 12px;
}

.lsItem>input{
  height: 30px;
  border: none;
  padding: 5px;
}
.lsItem>span{
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions{
  padding: 10px;
}

.lsOptionItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput{
  width: 50px;
}

.listSearch>button{
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 3;
}

.searchItem {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.siImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
}

.siTitle {
  font-size: 20px;
  color: #0071c2;
}

.siDistance {
  font-size: 12px;
}

.siTaxiOp {
  font-size: 12px;
  background-color: #008009;
  color: white;
  width: max-content;
  padding: 3px;
  border-radius: 5px;
}

.siSubtitle{
  font-size: 12px;
  font-weight: bold;
}

.siFeatures{
  font-size: 12px;
}

.siCancelOp{
  font-size: 12px;
  color: #008009;
  font-weight: bold;
}
